{
    "lib":{
        "files":[
        ],
        "total":{
            "total_header":"Total estimate (configurations defined <a href=\"https://github.com/FreeRTOS/FreeRTOS/tree/lts-development/tools/memory_estimator\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>)"
        },
        "column_header":{
            "files_column_header":"File",
            "files_o1_header":"With -O1 Optimisation",
            "files_os_header":"With -Os Optimisation"
        }
    }
}
