[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/Test/CMock/CMock"]
	path = FreeRTOS/Test/CMock/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Plus-TCP"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP
[submodule "FreeRTOS-Plus/Source/AWS/device-shadow-for-aws-iot-embedded-sdk"]
	path = FreeRTOS-Plus/Source/AWS/device-shadow-for-aws-iot-embedded-sdk
	url = https://github.com/aws/device-shadow-for-aws-iot-embedded-sdk
[submodule "FreeRTOS-Plus/Source/Application-Protocols/coreMQTT"]
	path = FreeRTOS-Plus/Source/Application-Protocols/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
[submodule "FreeRTOS-Plus/Source/coreJSON"]
	path = FreeRTOS-Plus/Source/coreJSON
	url = https://github.com/FreeRTOS/coreJSON
[submodule "FreeRTOS-Plus/Test/CMock"]
	path = FreeRTOS-Plus/Test/CMock
	url = https://github.com/ThrowTheSwitch/CMock
[submodule "FreeRTOS-Plus/ThirdParty/mbedtls"]
	path = FreeRTOS-Plus/ThirdParty/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "FreeRTOS-Plus/Source/Application-Protocols/corePKCS11"]
	path = FreeRTOS-Plus/Source/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
