choice
    prompt "select trng type "
        help
          select trng type
config TRNG_CK
    bool "csky trng"
    help
        select the ck trng driver

config TRNG_ZX29
    bool "zx29 trng"
    help
        select the zx29 trng driver

config TRNG_XX
    bool "example trng"
    help
        this option for test

endchoice
