	text.busintlabel {
		fill:        #810017;
		stroke:      none;
		font-size:   7pt; 
		font-style:  italic;
		font-weight: 900;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}
	
	text.buslabel {
		fill:        #CC3333;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}
			
	text.iplabel {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic;
		font-weight: 800;
		text-anchor: middle;
		font-family: Courier Arial Helvetica sans-serif;
	}
		
	text.iptype {
		fill:        #AA0017;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.ipclass {
		fill:        #000000;
		stroke:      none;
		font-size:   7pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: start;
		font-family: Times Arial Helvetica sans-serif;
	}

	text.procclass {
		fill:        #000000;
		stroke:      none;
		font-size:   7pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: middle;
		font-family: Times Arial Helvetica sans-serif;
	}
		
		
	text.portlabel {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.ipdbiflbl {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  normal;
		font-weight: bold;
		font-family: Verdana Arial Helvetica sans-serif;
	}
		
	text.mmMHeader {
		fill:        #FFFFFF;
		stroke:      none;
		font-size:   10pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.mmSHeader {
		fill:        #810017;
		stroke:      none;
		font-size:   10pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}



	text.dbglabel {
		fill:        #555555;
		stroke:      none;
		font-size:   8pt; 
		font-style:  normal;
		font-weight: 900;
		text-anchor: middle;
		font-family: Times Arial Helvetica sans-serif;
	}

	text.iopnumb {
		fill:        #555555;
		stroke:      none;
		font-size:   10pt; 
		font-style:  normal;
		font-weight: 900;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.ioplblgrp {
		fill:        #000088;
		stroke:      none;
		font-size:   10pt; 
		font-style:  normal;
		font-weight: 900;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}


	tspan.iopgrp {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  normal;
		font-weight: 900;
		text-anchor: middle;
		baseline-shift:super;
		font-family: Arial Courier san-serif;
	}


	text.biflabel {
		fill:        #000000;
		stroke:      none;
		font-size:   6pt; 
		font-style:  normal;
		font-weight: 900;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;

	}

	text.p2pbuslabel {
		fill:         #000000;
		stroke:       none;
		font-size:    10pt; 
		font-style:   italic;
		font-weight:  bold; 
		text-anchor:  start;
		writing-mode: tb;
		font-family:  Verdana Arial Helvetica sans-serif;
	}

	text.mpbuslabel {
		fill:         #000000;
		stroke:       none;
		font-size:    6pt; 
		font-style:   italic;
		font-weight:  bold; 
		text-anchor:  start;
		writing-mode: tb;
		font-family:  Verdana Arial Helvetica sans-serif;
	}


	text.sharedbuslabel {
		fill:         #000000;
		stroke:       none;
		font-size:    10pt; 
		font-style:   italic;
		font-weight:  bold; 
		text-anchor:  start;
		font-family:  Verdana Arial Helvetica sans-serif;
	}


	text.bciplabel {
		fill:        #000000;
		stroke:      none;
		font-size:   6pt; 
		font-style:  italic;
		font-weight: bold;
		text-anchor: middle;
		font-family: Courier Arial Helvetica sans-serif;
	}
		
	text.bciptype {
		fill:        #AA0017;
		stroke:      none;
		font-size:   6pt; 
		font-style:  italic;
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.splitbustxt {
		fill:        #000000;
		stroke:      none;
		font-size:   6pt; 
		font-style:  normal;
		font-weight: bold;
		text-anchor: middle;
		font-family: sans-serif;
	}

	text.horizp2pbuslabel {
		fill:         #000000;
		stroke:       none;
		font-size:    6pt; 
		font-style:   italic;
		font-weight:  bold; 
		text-anchor:  start;
		font-family:  Verdana Arial Helvetica sans-serif;
	}



	text.keytitle {
		fill:        #AA0017;
		stroke:      none;
		font-size:   12pt; 
		font-weight: bold;
		text-anchor: middle;
		font-family: Arial Helvetica sans-serif;
	}

	text.keyheader {
		fill:        #000000;
		stroke:      none;
		font-size:   10pt; 
		font-weight: bold;
		text-anchor: middle;
		font-family: Arial Helvetica sans-serif;
	}

	text.keylabel {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic; 
		font-weight: bold;
		text-anchor: start;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.keylblul {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic; 
		font-weight: bold;
		text-anchor: start;
		text-decoration: underline;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.specsheader {
		fill:        #000000;
		stroke:      none;
		font-size:   10pt; 
		font-weight: bold;
		text-anchor: start;
		font-family: Arial Helvetica sans-serif;
	}

	text.specsvalue {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic; 
		font-weight: bold;
		text-anchor: start;
		font-family: Verdana Arial Helvetica sans-serif;
	}

	text.specsvaluemid {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-style:  italic; 
		font-weight: bold;
		text-anchor: middle;
		font-family: Verdana Arial Helvetica sans-serif;
	}


	text.intrsymbol {
		fill:        #000000;
		stroke:      none;
		font-size:   8pt; 
		font-weight: bold;
		text-anchor: start;
		font-family: Arial Helvetica sans-serif;
	}



